<h3 class="pt-4">You are updating strength here</h3>

<div class="d-flex">
  <button type="button" class="btn btn-outline-primary mr-3" (click)="onDecrStrength()">-</button>
  <div class="mr-3">Strength</div>
  <div>{{strength}}</div>
  <button type="button" class="btn btn-outline-primary ml-3" (click)="onIncrStrength()">+</button>
</div>

<button type="button" class="btn mt-4 btn-outline-primary" (click)="onSubmit()">Submit</button>

<h3 class="pt-5 pb-3">Reactive Form here</h3>

<form [formGroup]="myHeroForm" (ngSubmit)="onStrengthSubmit()">
  <input [type]="'number'" class="form-control" placeholder="strength" formControlName="strength">
  <p *ngIf="myHeroForm.get('strength').hasError('strengthError')">error value</p>
  <button type="submit" [disabled]="myHeroForm.invalid"
  class="btn btn-primary mt-3">
    submit
  </button>
</form>
